################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/HundirLaFlota/HundirLaFlota/.vs
/HundirLaFlota/HundirLaFlota/bin/Debug/net6.0
/HundirLaFlota/HundirLaFlota/obj

/CursoWPF/1_intro/App1/.vs
/CursoWPF/1_intro/App1/bin/Debug/
/CursoWPF/1_intro/App1/obj/

